/* ===== iPad 768px ===== */
@media (max-width: 768px) {
  /* 3 экран: блоки друг под другом */
  .section {
    flex-direction: column;
    height: auto;
    gap: 5vw;
  }

  .left,
  .right {
    width: 90vw;
    min-height: 30vw;
    left: 5%;
  }

  .falling-word {
    font-size: 6vw;
  }

  .radar {
    transform: translate(-50%, -50%) scale(0.8);
  }

  .radar span {
    animation-duration: 7s;
  }
}
